.header {
    background-color: #ffffffe6;
    box-shadow: 0 .4rem .4rem 0 #ffffffe6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0rem 4rem;
}

.navbar li {
    position: relative;
    color: var(--color-primario);
    font-size: clamp(1.5rem, 3.0vw, 2.2rem);
}

.navbar-logo {
    background-image: url('../../assets/Logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0.8);
    width: 12rem;
    height: 8rem;
}

.navbar-button {
    display: flex;
    align-items: center;
}

.navbar-button-auth {
    display: flex;
    width: auto;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}
