form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: clamp(1.3rem, 2vw, 2rem);
}

span {
    color: red;
}

.validInput {
    border-radius: 1rem;
    padding: 0.8rem;
    border: none;
}

.invalidInput {
    background-color: #f8a3a3;
    border-radius: 1rem;
    padding: 0.8rem;
    border: none;
}